page-into {
    border: solid 1px;
    background-image:url("../assets/icon/bg1.jpg");  width: 80%; height: 60%;
    object-fit: cover;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    font-size: 1.4em;
}
