page-receive-m {
    ion-badge {
        padding: 18px 8px !important;
    }
    .badge-md{
        border-radius: 100% !important;
        width: 50px !important;
        height: 50px !important;
    }
    .custom-badge{
        position: absolute;
        right: 50px;
    }
}
